<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="container">
      <h1>HOSPITAL MANAGEMENT SYSTEM</h1>
      <nav>
        <ul>
          <li><a href="/api/admin/register">Add</a></li>
          <li><a href="/api/admin/update">Update</a></li>
          <li><a href="/api/admin/all">All_Patients_List</a></li>
          <li><a href="/api/admin/search">Search</a></li>
          <li><a href="/api/admin/delete">Delete</a></li>
        </ul>
      </nav>
    </div>
    <hr />

    <footer>
      <div class="logout">
        <a href="/api/admin/logout">Logout</a>
      </div>
    </footer>
  </body>
</html>
