<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/searchFailure.css">
  </head>
  <body>
    <div class="container">
      <h1>UH OH!</h1>
      <p>The requiested ID doesn't exists.</p>
    <a href="/api/admin/<%=url %>">Try again</a>

    </div>
  </body>
</html>
